*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #828282;

    background-image: url(https://i.ibb.co/7RrGgWt/moonlight-background.png);
    background-repeat: no-repeat;
    background-color:rgb(0, 0, 0);

}

.grid{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "logo logo search search"
                         "header header header header"
                         "header header header header"
                         "filter-menu filter-menu filter-menu filter-menu"
                         "movies movies movies movies"
                         ;

}

/* Nombre de película en páginas interiores*/
h1{
    color:white;
}

/* Título de la sección en el home*/
h2{
    color:rgba(246, 27, 106, 1);
    font-weight: 300;
    font-size: 20pt;
}

/* Nombre de película en el home*/
h3{
    color:white;
    font-weight: 200;
    font-size: 18pt;
}

/* Nombre de película en el preview*/
h4{
    color:white;
    font-weight: 100;
    text-align: center;
    text-justify: center;
}

/*todos los a*/
a{
    text-decoration: none;
}

/*todos los li*/
li{
    list-style: none;
}

.logo{
    grid-area: logo;
    width: 70%;
    margin: 40px;
}

/*Buscador*/
.search-container{
    grid-area: search;

    display: flex;
    flex-direction: row;
    margin: 40px;

    width: 30%;
    position: absolute;
    right: 0;
}

.search{
    width: 60%;
    padding: 10px;
    outline-style: none;
    border: none;

    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-button{
    width: 40%;
    padding: 10px;
    outline-style: none;
    border: none;

    background-color: rgba(246, 27, 106, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    color: white;
}

.search-button:hover{
    background-color: rgb(184, 10, 74);
}

.search-button:active{
    background-color: rgb(60, 130, 250);
}


/*Disposición de header, menú de filtros y catálogo de películas*/
#movie-container, .filter-menu, .movies-catalog{
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.filter-menu, .movies-catalog{
    margin: 50px auto;
    width: 80%;
}

.filter-menu{
    grid-area: filter-menu;
}

#movie-container{
    grid-area: header;
    width: 80%;
    margin: auto;
}

/* poster película destacada*/
.movie-poster{
    width: 50%;
    margin: 30px 0 0 60px;
}

.poster-container{
    margin: auto 0 auto auto;
    align-items: center;
}

.review-element{
    margin: 30px 0;
}

/* visualización de las películas*/
.container{
    grid-area: movies;
    width: 90%;
    margin: auto;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;

    margin: 0 0 50px 0;
}

.movie-preview{
    width: 60%;
}

.name-preview{
    width: 60%;
    margin: 10px;

    color:white;
    font-weight: 100;

    text-align: center;
    text-justify: center;
}

.show-more-button{
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border-style: none;

    background-color: rgba(31, 31, 31, 1);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
}

.show-more-button:hover{
    background-color: rgba(246, 27, 106, 1);
}

/* link leer más */
.read-more, :visited{
    color:rgba(246, 27, 106, 1);
}

.read-more:hover{
    color: white;
}


.filter-button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;

    width: 200px;
    padding: 10px;
    margin: auto;
    color: white;

    text-align: center;
}


.filter-button:hover{
    border: 2px solid rgba(246, 27, 106, 1);
    background-color: rgba(246, 27, 106, 1);
}


/*Ranking de estrellitas*/

.stars-rating{
    font-size: 0;
    display: inline-block;
}

.stars-rating a{
    text-decoration: none;
    display: inline-block;

    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    margin: 2px;
}

.stars-rating:hover a{
    color:  rgba(246, 27, 106, 1);
}

.stars-rating > a:hover ~ a{
    color: rgba(255, 255, 255, 0.4);

}

.stars-rating > input:checked ~ label{
    color:  rgba(246, 27, 106, 1);
}

/* menu lateral con iconos*/
.menu{
    margin: 30px 5px 30px 30px;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
}

.menu a{
    color: white;
    margin: 20px 0;
}

.menu a:hover{
    color: rgba(246, 27, 106, 1);
}

.hidden-name{
    margin: 5px;
}
